
body {
	background-color: #f2f2f2;
	/*margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
	border: 3px solid black;
	border-radius: 5px
	padding-left: 20px;
	padding-right: 20px;*/
}
parentDiv {
	position:relative;
	min-height:700px;
}
sidebar {
    position:absolute;
    right:0px;
    bottom:0px;
    top:0px;
    width:100px;
}
h3 {
	color: #dd1144;
	text-align: center;
}

p {
	color: #003c78;
	margin: auto;
}


ul {
	color: #003c78;
}