body {
	background-color: #f2f2f2;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
}

h3 {
	color: #dd1144;
	text-align: center;
}

p {
	color: #003c78;
	margin: auto;
}


ul {
	color: #003c78;
}