
body {
	background-color: #f2f2f2;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
	border: 3px solid black;
	border-radius: 5px
	padding-left: 10px;
}

h3 {
	color: #dd1144;
	text-align: center;
}

p {
	color: #003c78;
	margin: auto;
}


ul {
	color: #003c78;
}