* {
    box-sizing: border-box;
  }
  
  h1 {
    color: #635985;
  }

  div {
    font-size: 1.6rem;
    font-weight: bold;
    color: #eabfe1;
  }
  body {
    
    background-color: #18122b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    height: 100vh;
  }

button {
  display: inline-block;
  background-color: #18122b;
  color: #635985;
  
  font-size: 0.8rem;
  font-weight: bold;
  border: #635985;
}
  
  
.content {
    letter-spacing: 0.1rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #635985;
    
  }

.spacer {
    height: 100px;

  }


  
  
  
  